{% spaceless %}
<{{ html_tag }}{{ attributes }}>
  <div class="rollover-components--default">
    {{ content.field_components }}
  </div>
  <div class="rollover-components--hover rollover--hover display--flex flex-direction--column justify-content--center">
    {{ content.field_components_hover }}
  </div>
</{{ html_tag }}>
{% endspaceless %}