{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="news--field-image">
    {{ content.field_image }}
  </div>
  <div{{ content_attributes.addClass('node__content') }}>
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ content|without('field_image') }}
  </div>
</article>
