<div class="page layout-container">
  <header{{ attributes.addClass(splash_classes) }}>
    <div class="top-bar display--flex compro-headroom">
      {{ page.header }}
      <i class="compro-hamburger-icon"></i>
      <div class="utility-and-nav compro-hamburger flex--auto">
        {{ page.nav }}
        {{ page.utility }}
      </div>
    </div>
    {{ page.splash }}
  </header>
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.pre_content }}
    <div class="content-and-sidebar">
      {{ page.content_top }}
      {{ page.content }}
      {{ page.content_bottom }}
    </div>
    {{ page.post_content }}
  </main>
  <footer class="footer-wrapper">
    <div class="footer-top display--flex text-align--left">
      {{ page.footer }}
      {{ page.footer_menu }}
    </div>
    {{ page.footer_utility }}
  </footer>
</div>
