<div class="page layout-container">
  <header class="header-and-splash">
    <div class="top-bar compro-headroom">
      <div class="inner">
        <div class="display--flex">
          {{ page.header }}
          <div class="utility-and-nav compro-hamburger flex--auto">
            {{ page.utility }}
            {{ page.nav }}
          </div>
        </div>
      </div>
    </div>
    {{ page.splash }}
  </header>
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.pre_content }}
    <div class="content-and-sidebar">
      {{ page.content_top }}
      {{ page.content }}
      {{ page.content_bottom }}
    </div>
    {{ page.post_content }}
  </main>
  <footer class="footer-wrapper background-color--grey-dark color--white">
    {{ page.footer }}
    {{ page.footer_menu }}
    {{ page.footer_utility }}
  </footer>
</div>
