<div class="page layout-container">
  <header class="header-and-splash">
    <div class="top-bar compro-headroom">
      <div class="inner display--flex position--relative has--compro-hamburger-icon">
        {{ page.header }}
        {{ menu_toggle }}
        <div id="main-navigation" class="utility-and-nav compro-hamburger flex--auto">
          {{ page.utility }}
          {{ page.nav }}
        </div>
      </div>
    </div>
    {{ page.splash }}
  </header>
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.pre_content }}
    <div class="content-and-sidebar">
      {{ page.content_top }}
      {{ page.content }}
      {{ page.content_bottom }}
    </div>
    {{ page.post_content }}
  </main>
  <footer class="footer-wrapper background-color--grey-light font-family--secondary">
    <div class="appear-as-stripe layout--flex-row display--flex">
      <div class="flex--1 padding-horizontal--4">
        {{ page.footer }}
      </div>
      <div class="flex--2 display--flex flex-direction--column justify-content--space-between">
        {{ page.footer_menu }}
        {{ page.footer_utility }}
      </div>
    </div>
  </footer>
</div>
